<!DOCTYPE html>
<html>

<script>
  {% block script %}
  {% endblock %}
</script>

<head>
  {% block head %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/fonts.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/colors.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
    <title>
      {% block title %} Resume Hub {% endblock %}
    </title>
  {% endblock %}
</head>

<body>
  <header>
    <div class="topnav">
      <a href="/">Home</a>
      <div class="topnav-right">
        <a href={{ url_for('profile') }}>Profile</a>
        <a href={{ url_for('logout') }}>Logout</a>
      </div>
    </div>
  </header>

  <div class="container">
    {% block container %}
    {% endblock %}
  </div>
</body>

</html>