{% extends "base.html" %}
<!DOCTYPE html>
<html>
{% block title %} ResumeHub {% endblock %}

{% block head %}
<!-- Add org.css for now to use same css for pending students -->
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/org.css') }}">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/student.css') }}">
{{ super() }}
{% endblock %}

{% block container %}
{% if session['role'] == 'admin' %}
<div class="user-list">
  <h3>Registered Users</h3>
  <ul>
    {% for user in users %}
    <li>{{ user.id }} : {{ user.username }}<form action="{{ url_for('delete_user', id=user.id) }}" method="post"><button type="submit">Delete</button></form></li>
    {% endfor %}
  </ul>  
</div>
{% else %}
<div>
  {% if session['role'] == 'organization' %}
  <p id="student_header" class="black">My Organization</p>
  {% else %}
  <p id="student_header" class="black">Affiliated Organizations</p>
  {% endif %}
</div>

<div class="organizations">
<!-- if logged in as Organization, display its own organization info -->
{% if session['role'] == 'organization' %}
<div class="flex-container organization-box" onclick="location.href='{{ url_for('organization', id=g.user.id) }}';">
  <div class="info">
    <p class="name">{{ g.user.name }}<p>
    <div class="flex-container">
      <img id="org-person" src="{{ url_for('static', filename='svg/person.svg')}}">
      <p class="stats">{{g.user.students|length}} Students</p>
    </div>
  </div>
  <div class="description">
    <p>{{ g.user.description }}</p>
  </div>
</div>
<p id="student_header" class="black">Pending Students</p>
{% for student in g.user.pending_students %}
<div class="flex-container organization-box">
  <div class="info">
    <p class="name">{{ student.first_name + ' ' + student.last_name }}<p>
  </div>
  <div class="description">
    <p>{{ student.year.value + " in " + student.major }}</p>
  </div>
  <form action="{{ url_for('approve_student_request', id=student.id ) }}" method="post"><button type="submit">Approve</button></form>
  <form action="{{ url_for('reject_student_request', id=student.id ) }}" method="post"><button type="submit">Reject</button></form>
</div>
{% endfor %}
<p id="student_header" class="black">Pending Sponsors</p>
{% for company in g.user.pending_companies %}
<div class="flex-container organization-box">
  <div class="info">
    <p class="name">{{ company.name }}<p>
  </div>
  <div class="description">
    <p>{{ company.description }}</p>
  </div>
  <form action="{{ url_for('approve_company_request', id=company.id ) }}" method="post"><button type="submit">Approve</button></form>
  <form action="{{ url_for('reject_company_request', id=company.id ) }}" method="post"><button type="submit">Reject</button></form>
</div>
{% endfor %}

{% else %}
{% for org in organizations %}
<div class="flex-container organization-box" onclick="location.href='{{ url_for('organization', id=org.id) }}';">
  <div class="info">
    <p class="name">{{ org.name }}<p>
    <div class="flex-container">
      <img id="org-person" src="{{ url_for('static', filename='svg/person.svg')}}">
      <p class="stats">{{org.students|length}} Students</p>
    </div>
  </div>
  <div class="description">
    <p>{{ org.description }}</p>
  </div>
</div>
{% endfor %}
{% endif %}
</div>
{% endif %}
{% endblock %}
</html>