{% extends "base.html" %}
<!DOCTYPE html>
<html>
{% block title %} ResumeHub - Organization {% endblock %}

{% block head %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/org.css') }}">
{{ super() }}
{% endblock %}

{% block container %}
  <div>
    <p id="org-header" class="black">{{ organization.name }}</p>
    <div class="stats-container">
      <img id="org-person" src="{{ url_for('static', filename='svg/person.svg')}}">
      <p class="stats">{{organization.students|length}}</p>
    </div>
    <p id="org-description" class="black">{{ organization.description }}</p>
  </div>

  <div class="organizations">
    {% for student in organization.students %}
    <div class="flex-container organization-box">
      <div class="info">
        <p class="name">{{ student.first_name + ' ' + student.last_name }}<p>
      </div>
      <div class="description">
        <p>{{ student.major }}</p>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}
</html>