{% extends "base.html" %}
<!DOCTYPE html>
<html>
{% block title %} ResumeHub - Organization {% endblock %}

{% block script %}
function loadStudent(id) {
  var httpRequest = new XMLHttpRequest();

  if (!httpRequest) {
    alert('Cannot create an XMLHTTP instance :(');
    return false;
  }

  httpRequest.onreadystatechange = function() { generateStudentProfile(httpRequest) };

  httpRequest.open("GET", "/student/" + id); 
  httpRequest.setRequestHeader("Content-Type", "application/json");
  httpRequest.responseType = "json"
  httpRequest.send();
}


function generateStudentProfile(httpRequest) {
  if (httpRequest.readyState === XMLHttpRequest.DONE) {
    if (httpRequest.status === 200) {
      let studentProfile = JSON.parse(JSON.stringify(httpRequest.response));
      let header = document.getElementById("profile-header");
      header.innerHTML = "";
      header.appendChild(document.createTextNode(studentProfile['first_name'] + " " + studentProfile['last_name']));
      
      let firstName = document.getElementById("first-name");
      firstName.innerHTML = "";
      firstName.appendChild(document.createTextNode(studentProfile['first_name']));

      let lastname = document.getElementById("last-name");
      lastname.innerHTML = "";
      lastname.appendChild(document.createTextNode(studentProfile['last_name']));

      let major = document.getElementById("major");
      major.innerHTML = "";
      major.appendChild(document.createTextNode(studentProfile['major']));

      let minor = document.getElementById("minor");
      minor.innerHTML = "";
      minor.appendChild(document.createTextNode(studentProfile['minor']));

      let grade = document.getElementById("grade");
      grade.innerHTML = "";
      grade.appendChild(document.createTextNode(studentProfile['grade']));

      let gender = document.getElementById("gender");
      gender.innerHTML = "";
      gender.appendChild(document.createTextNode(studentProfile['gender']));

      let gpa = document.getElementById("gpa");
      gpa.innerHTML = "";
      gpa.appendChild(document.createTextNode(studentProfile['gpa']));

      let phoneNumber = document.getElementById("phone-number");
      phoneNumber.innerHTML = "";
      phoneNumber.appendChild(document.createTextNode(studentProfile['phone_number']));
      
      let resume = document.getElementById("resume");
      resume.href = "/resume/" + studentProfile['id']

    } else {
      alert("There was a problem with the post request.");
    }
  }
}

function displayPopup(id) {
  // I (Jamie) would usually re-construct the whole popup using JavaScript,
  // But, simply replace student's information for now due to the time constraint

  let student_id = parseInt(id, 10);

  // load this student's profile
  loadStudent(student_id);

  let popup = document.getElementById("student-profile");
  popup.style.display = "block";
}

function closePopup() {
  let popup = document.getElementById("student-profile");
  popup.style.display = "none";
}

{% endblock %}

{% block head %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/org.css') }}">
{{ super() }}
{% endblock %}

{% block container %}
  <div>
    <p id="org-header" class="black">{{ organization.name }}</p>
    <div class="stats-container">
      <img id="org-person" src="{{ url_for('static', filename='svg/person.svg')}}">
      <p class="stats">{{ organization.students|length }}</p>
    </div>
    <p id="org-description" class="black">{{ organization.description }}</p>
  </div>
{% if session['role'] != 'company' %}
  <p id="org-header" class="black">Students</p>
  {% if organization.students|length > 0 %}
  <p></p>
  <div class="organizations">
    {% for student in organization.students %}
    <div class="flex-container organization-box" onclick="displayPopup({{student.id}})">
      <div class="info">
        <p class="name">{{ student.first_name + ' ' + student.last_name }}<p>
      </div>
      <div class="description">
        <p>{{ student.year.value + " in " + student.major }}</p>
      </div>
    </div>
    {% endfor %}
    {% else %}
      <p id="org-header" class="black">No Students D:</p>
    {% endif %}
  </div>
  <p id="org-header" class="black">Sponsors</p>
  <p></p>
  <div class="organizations">
  {% if organization.companies|length > 0 %}
    {% for company in organization.companies %}
      <div class="flex-container organization-box">
        <div class="info">
          <p class="name">{{ company.name }}<p>
        </div>
        <div class="description">
          <p>{{ company.description }}</p>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p id="org-header" class="black">No sponsors :(</p>
  {% endif %}
  </div>

{% if session['role'] == 'organization' %}
  <p id="org-header" class="black">Pending Students</p>
  <p></p>
  <div class="organizations">
  {% for student in g.user.pending_students %}
    <div class="flex-container organization-box">
      <div class="info">
        <p class="name">{{ student.first_name + ' ' + student.last_name }}<p>
      </div>
      <div class="description">
        <p>{{ student.year.value + " in " + student.major }}</p>
      </div>
      <form action="{{ url_for('approve_student_request', id=student.id ) }}" method="post"><button type="submit">Approve</button></form>
      <form action="{{ url_for('reject_student_request', id=student.id ) }}" method="post"><button type="submit">Reject</button></form>
    </div>
    {% endfor %}
  </div>
  <p id="org-header" class="black">Pending Sponsors</p>
  <p></p>
  <div class="organizations">
    {% for company in g.user.pending_companies %}
    <div class="flex-container organization-box">
      <div class="info">
        <p class="name">{{ company.name }}<p>
      </div>
      <div class="description">
        <p>{{ company.description }}</p>
      </div>
      <form action="{{ url_for('approve_company_request', id=company.id ) }}" method="post"><button type="submit">Approve</button></form>
      <form action="{{ url_for('reject_company_request', id=company.id ) }}" method="post"><button type="submit">Reject</button></form>
    </div>
    {% endfor %}
  </div>
  {% endif %}
{% else %}
<!-- <div id="search-bar">
  <div class="search-container">
    <div class="field">
      <p><strong>Filters</strong></p>
    </div>
    <div class="field">
      <p>Year</p>
      <select name="grade" id="grade">
          {% for x in YEAR %}
          <option value={{ x.name }}>{{ x.value }}</option>
          {% endfor %}
      </select>
    </div>
    <div class="field">
      <p>Gender</p>
      <form>
        
      </form>
    </div>
    <div class="field search-container">
        <p>Has a Work Visa: </p>
        <input type="checkbox" name="hasVisa" value="Bike">
    </div>
    <div>
        <form action="{{ url_for('apply_filter'),  }}" method="post"><button type="submit">Approve</button></form>
    </div>
  </div>
</div> -->
  <p id="org-header" class="black">Students</p>
  {% if organization.students|length > 0 %}
  <p></p>
  <div class="organizations">
    {% for student in organization.students %}
    <div class="flex-container organization-box" onclick="displayPopup({{student.id}})">
      <div class="info">
        <p class="name">{{ student.first_name + ' ' + student.last_name }}<p>
      </div>
      <div class="description">
        <p>{{ student.year.value + " in " + student.major }}</p>
      </div>
    </div>
    {% endfor %}
    {% else %}
      <p id="org-header" class="black">No Students D:</p>
    {% endif %}
  </div>
{% endif %}

<!-- Student profile popup -->
<div class="overlay" id="student-profile">
	<div class="popup">
		<h2 id=profile-header></h2>
		<a class="close" onclick="closePopup()">&times;</a>
		<div class="content">
      <br>
      <label for="first-name">First Name:</label>
      <span id="first-name"></span>
      <br>
      <label for="last-name">Last Name:</label>
      <span id="last-name"></span>
      <br>
      <label for="major">Major:</label>
      <span id="major"></span>
      <br>
      <label for="minor">Minor:</label>
      <span id="minor"></span>
      <br>
      <label for="grade">Grade:</label>
      <span id="grade"></span>
      <br>
      <label for="gender">Gender:</label>
      <span id="gender"></span>
      <br>
      <label for="gpa">GPA:</label>
      <span id="gpa"></span>
      <br>
      <label for="phone-number">Phone Number:</label>
      <span id="phone-number"></span>
      <br>
      <br>
      <br>
      <br>
      <a id="resume" href="#">Download Resume</a><br>
		</div>
	</div>
</div>

{% endblock %}
</html>