{% extends "base.html" %}
<!DOCTYPE html>
<html>
{% block title %} ResumeHub - Organization {% endblock %}

{% block head %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/org.css') }}">
{{ super() }}
{% endblock %}

{% block container %}
  <div>
    <p id="org-header" class="black">Women in Computer Science (WICS)</p>
    <div class="stats-container">
      <img id="org-person" src="{{ url_for('static', filename='svg/person.svg')}}">
      <p class="stats">100 Students</p>
    </div>
    <p id="org-description" class="black">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>

  <div class="organizations">
    <div class="flex-container organization-box">
      <div class="info">
        <p class="name">Student Name<p>
      </div>
      <div class="description">
        <p>Student Info</p>
      </div>
    </div>
  </div>

{% endblock %}
</html>