.primary {
    color: #01A2A6;
}
.primary-bg {
    background: #01A2A6;
}

.primary-400 {
    color: #2CB2B8;
}
.primary-400-bg {
    background: #2CB2B8;
}

.primary-200 {
    color: #5FD7DD;
}
.primary-200-bg {
    background: #5FD7DD;
}
