html {
  margin: 0px;
  padding: 0px;
  height: 100vh;
}

body {
  font-family: "Barlow", sans-serif;
  font-weight: 400;

  margin: 0px;
  padding: 0px;
  height: 100%;


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}
.bg {
  height: 90vh;
}

.bg-svg {
  background: url(../svg/signin-gb.svg) no-repeat center;
  background-size: 101vw;
  background-position-x: -1vw;
  background-attachment: fixed;
  min-height: 100vh;
}

.bg-gradient {
  background: linear-gradient(to left, #01848A, #5FD7DD) center;
  width: 100vw;
  min-height: 100vh;
}  

.bump {
  min-height: 40px;
}

.logo-svg {
  background: url(../svg/logo.svg) no-repeat center;
  min-height: 150px;
}

.board {
  max-width: 440px;
  margin: 0px auto 0px;
  padding: 0px;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25), 0 5px 5px 0 rgba(0, 0, 0, 0.25);
}

.form {
  z-index: 1;
  padding: 45px;
  text-align: center;
}

.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  text-transform: uppercase;
  outline: 0;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
  background: #5FD7DD;
}