#student_header {
    font-size: 1.75rem;
    font-weight: 600;
    text-align: center;
}

#org-person {
    margin-top: 0.0rem;
    margin-bottom: 2rem;
    margin-right: 0.4rem;
    width: 1.1rem;
}

.organizations {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.organization-box {
    width: 75%;
    height: 8rem;
    margin-bottom: 45px;

    background-color: #FCFCFC;

    border-style: solid;
    border-color: #44c5cb;
    /* border-width: 5px; */
    border-width: 0.3rem;
    border-radius: 0.35rem;
    cursor: pointer;
}

.organization-box .info {
    width: 35%;
    text-align: center;
}

.organization-box .name {
    margin-top: 25px;
    margin-bottom: 0px;
    font-size: 2rem;
    font-weight: 500;
}

.organization-box .stats {
    margin-top: 0.0rem;
    margin-bottom: 2rem;
    color: #5E5266;
    font-weight: 300;
    font-size: 1.2rem;
}

.organization-box .description {
    width: 65%;
    text-align: left;

    color: #5E5266;
    font-size: 1.2rem;
    font-weight: 400;
}

.submission-report {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
}

.submission-report .worked {
    font-size: 5rem;
}  

.submission-report .failed {
    font-size: 5rem;
}

.disabled {
    text-decoration: line-through;
}